body{
	background-color: #fff8e7;
	font-family: "Garamond", Sans-serif; 
}

.butt{
	background-color: white;
	height: 60px;
	text-align: center;
	margin: auto;

}

img{
	width: 200px;
	display: inline;
}

.intro{
	background-color: white;
	border-collapse: auto;
	width: 50%;
	height: auto;
}

.intro2{
	border-collapse: auto;
	background-color: white;
	width: 80%;
	height: auto;
}

.g1{
	align-self: center;
	width: auto;
	height: auto;
	border-collapse: auto;
	background-color: lightblue;
	border-radius: 50%;
}

.snow, .lynx, .black, .scott, .tiger{
	border-collapse: auto;
	background-color: white;
	width: 80%;
	height: auto;
}

.list{
	background-color: white; 
	border-style: solid;
	border-radius: 30%;
	width: 50%;
}